/* structure */
body {
    background-color: #1f2937;
    color: #f9faf8;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8
}

a:hover {
    color: #e0e0e0;
}

/* images are stretched to fit into div.  Not what I wanted */
img {
    height: 100%;
    width: 100%;
}

/* MAIN FLEX OBJECTS
children of the body element

/* header, body-content, footer */
.header {
    background-color: #1f2937;
    color: #f9f9f9;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15% 0 15%;
}

.content {
    flex: auto;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 50px;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header flex items */
.header-links ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header .header-logo {
    font-size: 24px;
    font-weight: 900;
}


/* BODY CONTENT FLEXBOX ITEMS
BOX1 TO BOX4 */
.box1 {
    background-color:#1f2937;
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15% 0 15%;
}

.box2 {
    background-color: white;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.box3 {
    background-color: #e5e7eb;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 {
    background-color: rgb(255, 255, 255);
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BOX1 */

.box1 .about {
    width: 350px;
}

.about .about-title {
    font-size: 48px;
    font-weight: 900;
    line-height: .9;
}

.about .about-body {
    font-size: small;
    filter: contrast(50%);
    padding: 5px 0 8px 0;
}

.about .about-button {
    background-color: #3882f6;
    color: #f9f9f9;
    font-weight: 600;
    border: 0;
    padding: 4px 12px;
    border-radius: 5%;
}

.box1 .image {
    background-color: lightgray;
    color: black;
    height: 150px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* BOX2 */
.box2 .box2-header {
    color: black;
    font-size: x-large;
    font-weight: 900;
}

.box2-text {
    color: black;
    text-align: center;
    filter: contrast(50%);
    width: 125px;
    min-height: 100px;
}

.box2-box {
    height: 125px;
    width: 125px;
    border: 2px solid #b6b6b6;
    border-radius: 5%;

}

.box2-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.box2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* BOX3 */
.quote-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.quote {
    color: black;
    filter: contrast(50%);
    font-size: 24px;
    font-style: italic;
}

.quote-author {
    color: black;
    font-weight: 900;
    font-size: 12px;
    text-align: right;
    font-size: 15px;
    
}

/* BOX4 */
.sign-up-container {
    width: 50%;
    min-width: 425px;
    height: 75px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    

}

.sign-up-message {
    display: flex;
    flex-direction: column;

}

.message-title {
    font-weight: 900;
    font-size: larger;
}

.sign-up-button button {
    background-color: #3882f6;
    color: #f9f9f9;
    padding: 2px 8px;
    border:2px solid #f9f9f9;
    border-radius: 5%;
}


